<a href="https://colab.research.google.com/github/KilledByBugs/CE888_labs/blob/main/lab4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import matplotlib
import pandas as pd
import seaborn as sns
import numpy as np

#  Load the data from ``jester-data-1.csv'',
df = pd.read_csv('https://raw.githubusercontent.com/albanda/CE888/master/lab4-recommender/jester-data-1.csv')
print(df)

arr = df.values

# Check the dataset description to figure out which value you should replace with NaNs (the cells for which we don't have a rating). This is the test set.

ratedArr = df.replace(99, np.NaN)

#There's a column you need to remove because it doesn't contain ratings. Check the description of the dataset and figure out which one. Then drop it.

ratedArr = ratedArr.drop('74', axis=1)
print(ratedArr)


rated = np.where(arr!=99)
print(len(rated[0]), rated[1].shape)


def replace(orig, percentage=0.1):
  """
  Replaces 'percentage'% of the original values in 'orig' with 99's
  :param orig: original data array
  :param percentage: percentage of values to replace (0<percentage<1)
  """
  new_data = orig.copy()
  arrIsNaN = np.isnan(new_data)
  rated = np.where(arrIsNaN==False)
  n_rated = len(rated[0])
  idx = np.random.choice(n_rated, size=int(percentage*n_rated), replace=False)
  new_data[rated[0][idx], rated[1][idx]] = 99
  return new_data, (rated[0][idx], rated[1][idx])

#remove first column because it's the number how many users rated.

        74  -7.82   8.79  -9.66  -8.16  ...  99.22  -5.63  99.23  99.24  99.25
0      100   4.08  -0.29   6.36   4.37  ...  -2.14   3.06   0.34  -4.32   1.07
1       49  99.00  99.00  99.00  99.00  ...  99.00  99.00  99.00  99.00  99.00
2       48  99.00   8.35  99.00  99.00  ...  99.00  99.00  99.00  99.00  99.00
3       91   8.50   4.61  -4.17  -5.39  ...   1.55   3.11   6.55   1.80   1.60
4      100  -6.17  -3.54   0.44  -8.50  ...  -3.35   0.05  -9.08  -5.05  -3.45
...    ...    ...    ...    ...    ...  ...    ...    ...    ...    ...    ...
24977  100   0.44   7.43   9.08   2.33  ...   9.03   6.55   8.69   8.79   7.43
24978   91   9.13  -8.16   8.59   9.08  ...  -8.20  -7.23  -8.59   9.13   8.45
24979   39  99.00  99.00  99.00  99.00  ...  99.00  99.00  99.00  99.00  99.00
24980   37  99.00  99.00  99.00  99.00  ...  99.00  99.00  99.00  99.00  99.00
24981   72   2.43   2.67  -3.98   4.27  ...  99.00  99.00  99.00  99.00  99.00

[24982 rows x 101 columns]
       -7.82  8.79  -9.66  -8.16  -7.52  ...  99.22  -5.63  99.23  99.24  99.25
0       4.08 -0.29   6.36   4.37  -2.38  ...  -2.14   3.06   0.34  -4.32   1.07
1        NaN   NaN    NaN    NaN   9.03  ...    NaN    NaN    NaN    NaN    NaN
2        NaN  8.35    NaN    NaN   1.80  ...    NaN    NaN    NaN    NaN    NaN
3       8.50  4.61  -4.17  -5.39   1.36  ...   1.55   3.11   6.55   1.80   1.60
4      -6.17 -3.54   0.44  -8.50  -7.09  ...  -3.35   0.05  -9.08  -5.05  -3.45
...      ...   ...    ...    ...    ...  ...    ...    ...    ...    ...    ...
24977   0.44  7.43   9.08   2.33   3.20  ...   9.03   6.55   8.69   8.79   7.43
24978   9.13 -8.16   8.59   9.08   0.87  ...  -8.20  -7.23  -8.59   9.13   8.45
24979    NaN   NaN    NaN    NaN  -7.77  ...    NaN    NaN    NaN    NaN    NaN
24980    NaN   NaN    NaN    NaN  -9.71  ...    NaN    NaN    NaN    NaN    NaN
24981   2.43  2.67  -3.98   4.27  -2.28  ...    NaN    NaN    NaN    NaN    NaN

[24982 rows x 100 columns]
1835282 (1835282,)